@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

.btn{
    all: unset;
    font-weight: 500;
    padding: 6px 16px;
    height: 22px;
    color: white;
    background: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.category-button{
    all: unset;
    font-weight: 500;
    padding: 6px 16px;
    height: 22px;
    border: 1px solid black;
    cursor: pointer;
}
.category-button:hover{
    background: lightgray;
}
.btn:hover{
    background: darkred;
}
.hero-section{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 72px);
}
.hero-content h1{
    font-weight: 800;
    font-size: 80px;
    line-height: 102px;
}
.hero-content p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 540px;
}
.hero-content .hero-button{
    display: flex;
    gap: 10px;
}
.shopping p{
    font-size: 15px;
}
.social-media{
    margin-top: 8px;
    display: flex;
    gap: 20px;
}